body{
    background-color: hsl(0, 0%, 98%);
    font-family: Poppins;
    font-size: 15px;
}

@media only screen and (min-width:1440px){    

    .big-container{
        margin:auto;
        width:1440px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-items: center;
       
        }   
    
    .box-container{
    
        display: flex;
        justify-content: center;
        justify-items: center;
        flex-direction: row;
    }
    
    .box{
        font-size: 18px;
        margin-top: 20px;
        border-top-style: solid;
        box-shadow: 0px 0px 18px 0px rgb(228, 231, 255);
        background-color: white;
        width: 400px;
        border-radius: 5px;
    
    }
        
    .box1{
        border-color:hsl(180, 62%, 55%);
       position: relative;
       top: 300px;
       left:200px;
       margin-right: 20px;
        
        
    }
    
    .box2{
        border-color:hsl(0, 78%, 62%);
        position: relative;
        top: 180px;
        left:200px;
        margin-right: 15px;
    }
    
    .box3{
        border-color:hsl(34, 97%, 64%);
        position: relative;
        top: 410px;
        right: 160px;
        margin-right: 15px;
    }
    
    .box4{
        border-color:hsl(212, 86%, 64%);
        position: relative;
        top: 300px;
        right: 150px;
        margin-right: 15px;
    }
    
    .tophead{
        text-align: center;
        margin: auto;
        margin-bottom: 5px;
        position: relative;
        top:150px;
        width: 550px;
        
    }

    .p2{
        font-size: 40px;
        font-weight: 600;
        line-height: 0.5;
    }

    .p1{
        font-size: 40px;
        color:hsl(229, 6%, 66%);
        line-height: 0.5;
    }
}



.tophead{
    text-align: center;
    margin: auto;
    margin-bottom: 5px;
    
}



br{

    font-size: 22px;
    font-weight: 600;
    color: hsl(234, 12%, 34%);
    text-align: justify;
}



p:last-child{
    font-size: 15px;
    font-weight: 200;
    color: hsl(229, 6%, 66%);
}

@media only screen and (max-width:1440px){

.big-container{
    margin:auto;
    width:305px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }   
    
.box-container{
   
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.box{
    font-size: 18px;
    margin-top: 20px;
    border-top-style: solid;
    box-shadow: 0px 0px 18px 0px rgb(228, 231, 255);
    background-color: white;
    width: 310px;
    border-radius: 5px;

}
    
.box1{
    border-color:hsl(180, 62%, 55%);
    
}

.box2{
    border-color:hsl(0, 78%, 62%);
   
}

.box3{
    border-color:hsl(34, 97%, 64%);

}

.box4{
    border-color:hsl(212, 86%, 64%);
}

.p1{
    font-size: 22px;
    color:hsl(229, 6%, 66%);
    line-height: 0.5;
}

.p2{
    font-size: 22px;
    font-weight: 600;
    line-height: 0.5;
}
}



div p {
    margin-left: 15px;
}

.sentenceInCard{
    font-size: 12px;
    font-weight: 200;
    color: hsl(229, 6%, 66%);
}

div + p {
    font-weight: bold ;
    font-size: 10px;
}

img{
    float: right;
    margin: 20px;
    height: auto;
    max-width: 50px;

    
}




body .attribution { 
    font-size: 11px;
    text-align: center; 
}

body .attribution a { 
    color: hsl(228, 45%, 44%); 
}